In [70]:
import numpy as np
import pandas as pd
from scipy.stats.mstats import winsorize
from statsmodels.formula.api import ols
from tabulate import tabulate

In [242]:
def load_hdb_resale_price():
    used_columns = ['year','town', 'covid','flat_type', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price']
    df1 = pd.read_csv('data/ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv')
    df2 = pd.read_csv('data/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')
    df = pd.concat([df1, df2])
    df['year'] = df['month'].apply(lambda x: int(x.split('-')[0]))
    df['month'] = df['month'].apply(lambda x: int(x.split('-')[-1]))
    df['flat_type'] = df['flat_type'].apply(lambda x: x.lower())
    df['town'] = df['town'].apply(lambda x: x.lower())
    df['covid'] = df.apply(lambda x: 1 if x['year']>=2020 and x['month']>4 else 0, axis=1)
    return df[used_columns]

def load_hdb_rental_price():
    hdb_rental_price = pd.read_excel('data/HDB Rental Price (from 2007-3qtr to 2023-3qtr).xlsx')
    hdb_rental_price.columns = hdb_rental_price.iloc[0]
    hdb_rental_price = hdb_rental_price[1:]
    del hdb_rental_price[hdb_rental_price.columns[0]]
      
    hdb_rental_price = hdb_rental_price.melt(
    id_vars=['Town', 'Year '],
    value_vars=['1-Room', '2-Room', '3-Room', '4-Room','5-Room', 'Executive'],
    var_name='Room Type', value_name='Price')
    
    hdb_rental_price = hdb_rental_price[(hdb_rental_price['Price'] != '-') & (hdb_rental_price['Price'] != '*')]
    hdb_rental_price['Room Type'] = hdb_rental_price['Room Type'].apply(lambda x: x.replace('-', ' ').lower())
    hdb_rental_price = hdb_rental_price.rename(columns={'Year ': 'Year'})
    hdb_rental_price['Price'] = hdb_rental_price['Price'].apply(lambda x: int(x.replace('$', '').replace('.','').replace(',','')))
    hdb_rental_price['Town'] = hdb_rental_price['Town'].apply(lambda x: x.lower())
    
    df = hdb_rental_price.groupby(['Town','Year', 'Room Type']).mean()
    df = df.reset_index()
    
    return df[df['Year']>=2015]

def combine_rental_and_resale_price():
    resale = load_hdb_resale_price()
    rental = load_hdb_rental_price()
    
    combined_df = resale.merge(rental, left_on=['year', 'town', 'flat_type'], right_on=['Year', 'Town', 'Room Type'])
    
    used_columns=list(resale.columns)
    used_columns.append('rental_price')
    combined_df = combined_df.rename(columns={'Price': 'rental_price'})
    return combined_df[used_columns]

In [243]:
hdb_resale_price = load_hdb_resale_price()
hdb_rental_price = load_hdb_rental_price()
df = combine_rental_and_resale_price()

In [244]:
df

,year,town,covid,flat_type,floor_area_sqm,flat_model,lease_commence_date,resale_price,rental_price
0,2015,ang mo kio,0,3 room,60.0,Improved,1986,255000.0,1925.0
1,2015,ang mo kio,0,3 room,68.0,New Generation,1981,275000.0,1925.0
2,2015,ang mo kio,0,3 room,69.0,New Generation,1980,285000.0,1925.0
3,2015,ang mo kio,0,3 room,68.0,New Generation,1979,290000.0,1925.0
4,2015,ang mo kio,0,3 room,68.0,New Generation,1980,290000.0,1925.0
...,...,...,...,...,...,...,...,...,...
192518,2023,yishun,1,executive,142.0,Apartment,1987,788888.0,3225.0
192519,2023,yishun,1,executive,146.0,Maisonette,1987,838000.0,3225.0
192520,2023,yishun,1,executive,142.0,Apartment,1987,755000.0,3225.0
192521,2023,yishun,1,executive,142.0,Apartment,1988,780000.0,3225.0
192522,2023,yishun,1,executive,142.0,Apartment,1988,785000.0,3225.0

In [245]:
res = ols('resale_price ~ covid + town + flat_type + floor_area_sqm', data=df).fit()

In [246]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           resale_price   R-squared:                       0.613
Model:                            OLS   Adj. R-squared:                  0.613
Method:                 Least Squares   F-statistic:                 1.087e+04
Date:                Sun, 14 Apr 2024   Prob (F-statistic):               0.00
Time:                        14:42:27   Log-Likelihood:            -2.4835e+06
No. Observations:              192523   AIC:                         4.967e+06
Df Residuals:                  192494   BIC:                         4.967e+06
Df Model:                          28
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept               1.382e+05   4172.937     33.114      0.000     1.3e+05    1.46e+05
town[T.bedok]           -2.96e+04   1388.596    -21.319      0.000   -3.23e+04   -2.69e+04
town[T.bishan]          9.474e+04   1968.742     48.121      0.000    9.09e+04    9.86e+04
town[T.bukit batok]    -5.254e+04   1531.555    -34.304      0.000   -5.55e+04   -4.95e+04
town[T.bukit merah]     1.291e+05   1525.889     84.589      0.000    1.26e+05    1.32e+05
town[T.bukit panjang]  -8.677e+04   1548.188    -56.046      0.000   -8.98e+04   -8.37e+04
town[T.choa chu kang]   -1.25e+05   1482.725    -84.326      0.000   -1.28e+05   -1.22e+05
town[T.clementi]        5.432e+04   1774.421     30.610      0.000    5.08e+04    5.78e+04
town[T.geylang]         1.355e+04   1742.506      7.776      0.000    1.01e+04     1.7e+04
town[T.hougang]        -5.588e+04   1431.488    -39.036      0.000   -5.87e+04   -5.31e+04
town[T.jurong east]    -5.971e+04   1831.120    -32.609      0.000   -6.33e+04   -5.61e+04
town[T.jurong west]    -1.085e+05   1349.508    -80.434      0.000   -1.11e+05   -1.06e+05
town[T.marine parade]   6.311e+04   3125.008     20.194      0.000     5.7e+04    6.92e+04
town[T.pasir ris]      -8.256e+04   1676.925    -49.231      0.000   -8.58e+04   -7.93e+04
town[T.punggol]        -3.067e+04   1374.060    -22.318      0.000   -3.34e+04    -2.8e+04
town[T.queenstown]        1.5e+05   1675.494     89.550      0.000    1.47e+05    1.53e+05
town[T.sembawang]      -1.213e+05   1748.738    -69.369      0.000   -1.25e+05   -1.18e+05
town[T.sengkang]       -6.735e+04   1335.930    -50.416      0.000      -7e+04   -6.47e+04
town[T.serangoon]      -1.231e+04   1898.839     -6.480      0.000    -1.6e+04   -8583.332
town[T.tampines]       -3.394e+04   1350.711    -25.126      0.000   -3.66e+04   -3.13e+04
town[T.toa payoh]       5.072e+04   1625.623     31.201      0.000    4.75e+04    5.39e+04
town[T.woodlands]      -1.222e+05   1345.651    -90.790      0.000   -1.25e+05    -1.2e+05
town[T.yishun]         -8.655e+04   1347.085    -64.247      0.000   -8.92e+04   -8.39e+04
flat_type[T.3 room]     5.621e+04   3786.776     14.845      0.000    4.88e+04    6.36e+04
flat_type[T.4 room]     1.739e+05   4039.061     43.054      0.000    1.66e+05    1.82e+05
flat_type[T.5 room]     2.312e+05   4399.021     52.562      0.000    2.23e+05     2.4e+05
flat_type[T.executive]  2.979e+05   4956.003     60.112      0.000    2.88e+05    3.08e+05
covid                   7.077e+04    464.775    152.277      0.000    6.99e+04    7.17e+04
floor_area_sqm          1910.8408     33.272     57.430      0.000    1845.628    1976.054
==============================================================================
Omnibus:                    23240.595   Durbin-Watson:                   0.524
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            42612.169
Skew:                           0.800   Prob(JB):                         0.00
Kurtosis:                       4.659   Cond. No.                     4.03e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.03e+03. This might indicate that there are
strong multicollinearity or other numerical problems.